In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import catboost

In [2]:
data = pd.read_csv('data-social network ads.csv')

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
x = data[['Gender', 'Age', 'EstimatedSalary']]

In [5]:
y = data['Purchased']

In [6]:
x.head()

   Gender  Age  EstimatedSalary
0    Male   19            19000
1    Male   35            20000
2  Female   26            43000
3  Female   27            57000
4    Male   19            76000

In [7]:
x = pd.get_dummies(x, columns=['Gender'], drop_first=True)

In [8]:
x.head(2)

   Age  EstimatedSalary  Gender_Male
0   19            19000            1
1   35            20000            1

In [9]:
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [22]:
booster = catboost.CatBoostClassifier(iterations=1000, depth=2, verbose=False)

In [23]:
booster.fit(x_train, y_train);

In [24]:
y_predict = booster.predict(x_test)

In [25]:
metrics.confusion_matrix(y_test, y_predict)

array([[55,  5],
       [ 9, 31]], dtype=int64)

In [26]:
metrics.accuracy_score(y_test, y_predict)

0.86